@media screen and (max-width:768px){
    .main-nav{
        background: rgb(100, 0, 0);
        text-align: center;
        /* width: 100vw; */
    }
    .main-nav ul {
        display: block;
        list-style: none;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        /* padding-right: 0px; */
    }
    .main-nav ul li{
        width: 100px;
        /* margin-left: 0px; */
        padding: 0px;
    
    }
    .active, .main-nav ul li:hover{
        background: black;
        border-radius: 3px;
}
.main-nav ul li:hover .sub-list{
    margin-top: 5px;
    margin-left: -5px;
}
.main-nav ul li:hover .sub-list ul{
    display: block;
    margin-top: 5px;
}
.main-nav ul li:hover .sub-list ul li{
    width:100px;
    padding: 5px;
    border-bottom: 1px dotted #fff;
    border-radius: 0;
    text-align: left;
}
.hover-me:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: rgba(0, 100, 0);
    margin-top: -20px;
    margin-left: 90px;
}
}



